name: CI Main

on:
  push:
    branches: [ main ]
    paths-ignore:
    - '**/*.md'
    - '**/*.gitignore'
    - '**/*.gitattributes'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build, test, and pack

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET SDK (global.json)
      uses: actions/setup-dotnet@v1

    - name: Setup .NET SDK 6.0.x
      uses: actions/setup-dotnet@v1
      with:
          dotnet-version: 6.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Set current date as env variable
      run: echo "NOW=$(date +'%Y%m%d')" >> $GITHUB_ENV

    - name: Create build number
      run: echo "BUILD_NUMBER=$NOW.$GITHUB_RUN_NUMBER" >> $GITHUB_ENV

    - name: Build
      run: dotnet build --configuration Release --no-restore /p:BuildNumber=$BUILD_NUMBER /p:SourceRevisionId=$GITHUB_SHA /p:ContinuousIntegrationBuild=true

    - name: Test
      run: dotnet test --verbosity normal

    - name: Pack
      run: dotnet pack --no-build --configuration Release --output finalpackage --verbosity d /p:BuildNumber=$BUILD_NUMBER /p:SourceRevisionId=$GITHUB_SHA /p:ContinuousIntegrationBuild=true

    - name: Publish artifact
      uses: actions/upload-artifact@master
      with:
        name: nupkg
        path: finalpackage

  deploy:
    needs: build
    runs-on: ubuntu-latest
    name: Deploy to repo packages feed

    steps:
      - name: Download package artifact
        uses: actions/download-artifact@v2
        with:
          name: nupkg

      - name: Setup .NET SDK (global.json)
        uses: actions/setup-dotnet@v1

      - name: Add GitHub Package Repository source
        run: dotnet nuget add source --username ${{ secrets.GPR_USERNAME }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name GPR ${{ secrets.GPR_URI }}

      - name: Push to GitHub Packages
        run: dotnet nuget push **/*.nupkg -s "GPR" --skip-duplicate

  clean:
    needs: deploy
    runs-on: ubuntu-latest
    name: Delete old packages on repo feed

    steps:
      - name: Delete old packages
        uses: smartsquaregmbh/delete-old-packages@v0.3.1
        with:
          keep: 5
          names: |
            MinimalApis.Essentials
